@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

        <div class="row" data-equalizer="page-banner" data-equalize-on="large">
            <div class="columns">
                <div class="banner-image-container" id="bannerImageContainer" data-equalizer-watch="page-banner">
                    <img id="bannerImage" src="img/banner.jpg" alt="Header Image" style="height: 600px; width: 100%;"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="columns">
                <div>
                    <h1 class="text-center">
                        Animal Rescue Home Base
                    </h1>
                </div>
                <div>
                    </br>
                    <p class="text-center">"Before you get a dog, you can't quite imagine what living with one might be like; afterward, you can't imagine living any other way."
                        </br><i> -Caronline Knapp</i>
                    </p>
                </div>
            </div>
        </div>
